#id_recipeName { width:500px;}
#id_description, #id_originalReference { width: 80%; height:50px; }
.numberSpinner { width: 25px; }

td, tr, th {
    padding: 10px;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("images/Enchiladas_suizas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.white {color:white;
    text-shadow: 1px 1px 1px black;
    }

.links, .mainlinks {font-weight: normal;
    font-size: large;
    text-underline-style: single;
    color: aqua;
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
    list-style-type: none;
}

#id_recipeName { width:500px;}
#id_description, #id_originalReference { width: 80%; height:50px; }
#id_servings { width: 50px; }

footer {
    font-size: xx-small;
    color: white;
    text-align: center;
    height: 10px;
    width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.ui-accordion-content-active
{
    padding: 10px !important;
    font-weight: bolder;
    bacground-color: white;
    background:rgba(255,255,255,0.5);
}
