{% extends "base.html" %}
{% block title %}
Add Recipe
{% endblock %}
{% load bootstrap3 %}

{% load staticfiles %}

{% block maincontent %}
<h2 class="white">Add a New Recipe</h2>


<form action=" " method="post" role="form">
{% csrf_token %}


    <h3><span class="white"> Recipe Name:&nbsp;&nbsp;</span>  {{ recipeform.recipeName }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
    <hr>

    <div id="accordionForm">
        <h3>Recipe Info</h3>
        <div>
                <p>Servings:&nbsp;&nbsp; <span class="numberSpinner">{{ recipeform.servings }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    Vegetarian?&nbsp;&nbsp; {{ recipeform.vegetarian }}&nbsp;&nbsp;&nbsp;&nbsp;</p><br />
                    <p>*Nacho* Index:&nbsp;&nbsp; {{ recipeform.NachoIndex }}</p><br />
                <p>Prep Time (minutes):&nbsp;&nbsp; <span class="numberSpinner">{{ recipeform.prepTimeMinutes }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    Cook Time (minutes):&nbsp;&nbsp; <span class="numberSpinner">{{ recipeform.cookTimeMinutes }}</span> </p><br />
                <p>Brief Description:&nbsp;&nbsp; {{ recipeform.description }} </p>
        </div>

        <h3>Recipe Ingredients</h3>
        <div>
                {{ ingredientsformset.management_form }}
                        <table>
                            <tr>
                                <th>Ingredient</th>
                                <th>Amount</th>
                                <th>Unit</th>
                                <th>Type</th>
                            </tr>

                            {% for ingredient in ingredientsformset %}
                               {{ ingredient.id.as_hidden }}


                            <tr>

                                <td>{{ ingredient.ingredient }}</td>
                                <td>{{ ingredient.ingredientAmount }}</td>
                                <td>{{ ingredient.ingredientUnit }}</td>
                                <td>{{ ingredient.ingredientType }}</td>
                            </tr>

                            {% endfor %}
                        </table>


        </div>


        <h3>Recipe Instructions</h3>
        <div>
            <p>Recipe Instructions:&nbsp;&nbsp; {{ recipeform.instructions }} </p>

        </div>


       <h3>Recipe Info</h3>
        <div>
            <p>Date First Prepared: &nbsp;&nbsp; {{ recipeform.dateFirstPrepared }}</p><br />
            <p>Reference: &nbsp;&nbsp; {{ recipeform.originalReference }}</p><br />
            <p>Image: &nbsp;&nbsp; {{ recipeform.image }}</p>
        </div>
    </div><br />

{% buttons %}
    <button type="submit" class="btn btn-primary">
        Save Recipe
    </button>
{% endbuttons %}

</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}

{% endblock %}
