{% extends "base.html" %}
{% block title %}
Recipe Index: All Recipes
{% endblock %}


{% block maincontent %}

{% load staticfiles %}
<h1 class="white">Recipes</h1>
                {% if recipelist %}
                        <ul class="links">
                        {% for recipe in recipelist %}
                        <li><a class="links" href="recipe/{{ recipe.id }}/">{{ recipe.recipeName }}</a></li>
                            
                {% endfor %}
                        </ul>
                {% else %}
                        <p class="white">You haven't added any recipes yet!</p>
                {% endif %}
    <hr>
                <p>
                <a class="mainlinks" href="recipe/new/">Add Another Recipe</a>
                </p>




<footer class="footer">
    Image Reference: "Steve Dunham (Flickr: Enchiladas Suizas)
        [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons"
</footer>

{% endblock %}